@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@plugin "@tailwindcss/typography";

@theme {
    --color-primary: #D04A45;
    --color-secondary: #309237; 
    --color-accent: #9561e2;
    --color-p: #363B4C;
    --font-heading: "Tanker Regular", sans-serif;
    --font-sans: "LatoRegular", sans-serif;
    --font-p: "LatoRegular", sans-serif;
  }
  
  @layer utility {
    .container {
      padding: var(--container-padding, 1rem);
      margin-inline: auto;
      
      @variant lg {
        padding-inline: 4rem;
      }
      
      @variant xl {
        padding-inline: 5rem;
      } 
    }
  }
  
  :root {
    color-scheme: only light;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-primary);
  }

/* Menu */
ul#menu-menu-principal {
    @apply flex flex-col lg:flex-row gap-x-8
}
