@import "tailwindcss" theme(static);
@import './fonts.css';
@source "../views/";
@source "../../app/";

@plugin "@tailwindcss/typography";


@theme {
  --color-primary: #D04A45;
  --color-secondary: #309237;
  --color-accent: #9561e2;
  --color-page: #F8EAD0;
  --color-p: #363B4C;
  --font-heading: "Poppins-Regular", sans-serif;
  --font-sans: "Lato-Regular", sans-serif;
  --font-p: "Lato-Regular", sans-serif;
}

.container {
  display: contents;
}

@layer utility {
  .container .section-page>*:not(h1) {
    padding: var(--container-padding, 1rem);
    margin-inline: auto;

    @variant lg {
      padding-inline: 4rem;
    }

    @variant xl {
      padding-inline: 5rem;
    }
  }
}

:root {
  color-scheme: only light;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Menu */
ul#menu-menu-principal {
  @apply flex flex-col lg:flex-row gap-x-8
}

:root :where(a:where(:not(.wp-element-button))) {
  text-decoration: inherit;
}
