.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 13em;
    right: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    /* background: rgb(from var(--color-melescuro) r g b / 0.8) url(../images/arrowcdtop.svg) no-repeat center 50%; */
    background: color-mix(in srgb, var(--color-melescuro) 80%, transparent) url(../images/arrowcdtop.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 0.5;
}

.no-touch .cd-top:hover {
    background-color: rgba(214, 135, 120, 1);
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 1em;
        bottom: 10em;
    }
}